@import "../themes.scss";
.switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 4rem;
  margin: 0 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid lightgrey;
  transition: 0.5s;
  border-radius: 4rem;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.9rem;
  width: 2.9rem;
  left: 0.3rem;
  bottom: 0.5rem;
  background: white;
  border: 1px solid grey;
  border-radius: 5rem;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: $btn-bg-primary;
}

input:checked + .slider:before {
  // Fix translate X for responsive design
  transform: translateX(3.2rem);
  background-color: white;
}

input + .slider:before {
  background-color: $btn-bg-primary;
}

.header_container {
  height: 12rem;
}
