$btn-bg-body: gray;
$btn-color-body: white;
$btn-bg-hover-body: #c6cfda;
$category-bg: orange;
$connection: lightgray;
$border-main: #d3d3d3;
$amount-color: white;
$amount-bg: #ffb840;
$btn-bg-primary: #6977e2;
$btn-color-primary: white;
$btn-bg-hover-primary: #545fb5;
$btn-bg-header: white;
$btn-color-header: grey;
$btn-bg-hover-header: lightgray;
$bg: #f6f7fc;
$text: #333333;

// Dark Theme
$btn-bg-body-dark: white;
$btn-color-body-dark: gray;
$btn-bg-hover-body-dark: #c6cfda;
$bg-dark: #1b1b1b;
$text-dark: #ffffff;
